@font-face {
  font-family: 'RB-Elementor-Social';
  src:  url('icons/RB-Elementor-Social.eot?div9w3');
  src:  url('icons/RB-Elementor-Social.eot?div9w3#iefix') format('embedded-opentype'),
    url('icons/RB-Elementor-Social.ttf?div9w3') format('truetype'),
    url('icons/RB-Elementor-Social.woff?div9w3') format('woff'),
    url('icons/RB-Elementor-Social.svg?div9w3#RB-Elementor-Social') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.rbelad-sf {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'RB-Elementor-Social' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rbelad-sf-behance:before {
  content: "\e900";
}
.rbelad-sf-codepen:before {
  content: "\e901";
}
.rbelad-sf-dribbble:before {
  content: "\e902";
}
.rbelad-sf-facebook:before {
  content: "\e903";
}
.rbelad-sf-github:before {
  content: "\e904";
}
.rbelad-sf-instagram:before {
  content: "\e905";
}
.rbelad-sf-linkedin:before {
  content: "\e906";
}
.rbelad-sf-pinterest:before {
  content: "\e907";
}
.rbelad-sf-tiktok:before {
  content: "\e908";
}
.rbelad-sf-twitter:before {
  content: "\e909";
}
.rbelad-sf-twitter-x:before {
  content: "\e90a";
}
.rbelad-sf-whatsapp:before {
  content: "\e90b";
}
.rbelad-sf-youtube:before {
  content: "\e90c";
}
