@font-face {
  font-family: 'rb-social-icons';
  src:  url('icons/rb-social-icons.eot?3cjjmt');
  src:  url('icons/rb-social-icons.eot?3cjjmt#iefix') format('embedded-opentype'),
    url('icons/rb-social-icons.ttf?3cjjmt') format('truetype'),
    url('icons/rb-social-icons.woff?3cjjmt') format('woff'),
    url('icons/rb-social-icons.svg?3cjjmt#rb-social-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.rb-icons {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'rb-social-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rb-github:before {
  content: "\e900";
}
.rb-behance:before {
  content: "\e901";
}
.rb-dribbble:before {
  content: "\e902";
}
.rb-tiktok:before {
  content: "\e903";
}
.rb-youtube:before {
  content: "\e904";
}
.rb-pinterest:before {
  content: "\e905";
}
.rb-instagram:before {
  content: "\e906";
}
.rb-whatsapp:before {
  content: "\e907";
}
.rb-linkedin:before {
  content: "\e908";
}
.rb-twitter-x:before {
  content: "\e909";
}
.rb-facebook:before {
  content: "\e90a";
}
